$primary-color: #b982ff;
$secondary-color: #18c8ff;
$tertiary-color: #6d1400;

$primary-gradient: linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%);

$bg-color: #0b0b0f;
$bg-color-alt: #1a1b23;

$text-color: #fff;
$text-color-alt: #898ca9;

$error: #a92424;
$success: #58bd7d;
$zIndexNav: 2;

$nav-height: 7rem;

$transition: 0.3s ease-in-out;
