.workPage {
  min-height: 100vh;
  padding-top: $nav-height;
  padding-bottom: 10rem;
  background-image: url(../../../images/svg/bg-img.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // padding: ;

  &__main {
    padding: 5rem var(--body-padding);
    // display: grid;
    // grid-template-columns: 1fr 1fr;

    &__title {
      font-weight: 900;
      font-size: 5rem;
      text-align: center;
      margin-bottom: 3rem;

      @media screen and (max-width: 600px) {
        font-size: 4rem;
      }
    }
  }
  &__item {
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
    transition: 1s ease-in-out;
    border-radius: 1rem;

    &__title {
      background-color: $bg-color-alt;
      padding: 1rem 2rem;
      display: inline-block;
      position: absolute;
      bottom: -20rem;
      left: 50%;
      transform: translateX(-50%);
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      text-align: center;
      transition: 1s ease-in-out;
      opacity: 0;
      font-size: 1.6rem;
    }

    &__img {
      width: 100%;
      object-fit: cover;
      transition: 1s ease-in-out;
      border-radius: 1rem;
    }

    &__tags {
      position: absolute;
      top: 0;
      padding: 1rem 2rem;
      left: 0;
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      opacity: 0;
      transition: 1s ease-in-out;

      & p {
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 2rem;
        background-color: $bg-color-alt;

        & span {
          background: $primary-gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          // color: #fff;
          font-size: 1.3rem;
        }
      }
    }

    &:hover &__img {
      transform: scale(1.1);
      // filter: blur(1px);
      // -webkit-filter: blur(1px);
    }

    &:hover &__title {
      bottom: 0;
      opacity: 1;
    }
    &:hover &__tags {
      opacity: 1;
    }
  }
}
